<h1>Listing users</h1>


<table>
  <thead>
    <tr>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %> 
      <tr>
        <td><%= user.email %></td>
        <td><button href="#" class="tiny button radius"><%= link_to 'Show', user %></button></td>
        <td><button href="#" class="tiny button radius"><%= link_to 'Edit', edit_user_path(user) %></button></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?  ' + user.email }, notice: 'Account deleted!' if current_user == user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
